<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.orgc.lostbluesea"
    android:versionCode="51"
    android:versionName="5.1">

    <uses-sdk android:minSdkVersion="21" android:targetSdkVersion="29" />

    <application
        android:allowBackup="false"
        android:label="Lost Blue Sea"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher"
        android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
        android:hardwareAccelerated="true"
        android:extractNativeLibs="true"
        android:usesCleartextTraffic="false">

        <activity
            android:name="com.orgc.lostbluesea.GameActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="true"
            android:screenOrientation="landscape">
            <meta-data
                android:name="android.app.lib_name"
                android:value="game" />
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>